<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Chess</title>
    <link rel="stylesheet" href="css/chessboard-0.3.0.min.css">
    <script
            src="https://code.jquery.com/jquery-1.12.4.min.js"
            integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
            crossorigin="anonymous"></script>
    <script src="js/lib/chess.min.js"></script>
    <script src="js/lib/chessboard-0.3.0.min.js"></script>
</head>
<body>
    <!--<div id="board1" style="width: 400px"></div>-->
    <div id="board" style="width: 400px;margin-bottom: 20px;"></div>
    <input type="button" id="startBtn" value="Start" />
    <input type="button" id="clearBtn" value="Clear" />



    <script src="js/src/play.js"></script>
</body>
</html>